extends layout

block content
    h1= title
    h2 Event ID: #{eventID}
    p View the entries for an event and edit your event's information.

    .row
        .col
            .card.shadow.mb-4
                .card-header.py-3
                    h6.m-0.font-weight-bold.text-primary Bar Chart
                .card-body
                    .chart-bar
                        canvas#scatterChart


    form(action="editEventScreen/saveEvent", method="post").form-group
        input(type="text" name="eventName" placeholder="Event Name").form-control
        input(type="text" name="eventDescription" placeholder="Description").form-control
        button(type="submit").btn.btn-primary submit


    table.table.table-light.table-striped
        thead
            tr

                th START TIME
                th END TIME
                th ATTENDEE COUNT
                th NOTE

        tbody
            each row in eventsDaysRows
                tr
                    TD.startTime #{row.startTime}
                    TD #{row.endTime}
                    TD.attendeeCount #{row.attendeeCount}
                    TD #{row.note}
                    TD
                        form(action="/viewDayData/ID" method="POST")
                            input(type="hidden" name="eventDayID" value=row.eventDayID)
                            input(type="hidden" name="eventName" value=title)
                            input(type="hidden" name="startTime" value=row.startTime)
                            input(type="hidden" name="endTime" value=row.endTime)
                            button(type="submit").btn.btn-secondary view


    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js")
    script(src='/js/lineChart.js')
