extends layout


block content
    link(href='css/mdb.min.css', rel='stylesheet')
    //- script(src='/js/lineChart.js')
    //- script(src='/js/Chart.bundle.js')
    .container-fluid
        .row
            .col-3
                i.far.fa-plus-square.fa-3x
            .col-6
                .card.shadow.mb-4
                    .card-header.py-3
                        h6.m-0.font-weight-bold.text-primary Bar Chart
                    .card-body
                        .chart-bar
                            canvas#scatterChart
            .col-3
                i.fas.fa-sign-out-alt.fa-3x.float-right


        table.table.table-light.table-striped
            thead
                tr

                    th ID
                    th Name
                    th Description
            tbody
                each row in myEvents
                    tr
                        TD #{row.ID}
                        TD #{row.NAME}
                        TD #{row.DESCRIPTION}
                        TD
                            form(action="/editEventScreen/ID" method="POST")
                                input(type="hidden" name="eventID" value=row.ID)
                                input(type="hidden" name="eventName" value=row.NAME)
                                button(type="submit").btn.btn-secondary view



    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js')
    script(type='text/javascript', src='js/mdb.min.js')
    script(src='/js/lineChart.js')


