extends layout


block content
    h1 Dashboard
    .container-fluid
        table.table.table-light.table-striped
            thead
                tr

                    th ID
                    th Event Name
                    th Description
            tbody
                each row in myEvents
                    tr
                        TD #{row.ID}
                        TD #{row.NAME}
                        TD #{row.DESCRIPTION}
                        TD
                            form(action="/editEventScreen/ID" method="POST")
                                input(type="hidden" name="eventID" value=row.ID)
                                input(type="hidden" name="eventName" value=row.NAME)
                                input(type="hidden" name="eventDescription" value=row.DESCRIPTION)
                                button(type="submit").btn.btn-secondary view



    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js')


