extends layout

block content
    a(href="/mainScreen") Home
    h1 #{eventName} #{startTime} - #{endTime}
    p Unique Visitors


    table.table.table-light.table-striped
        thead
            tr
                th #
                th TIMESTAMP
                th MAC
                th WIFI

        tbody
            each row,i in eventsDayEntryRows
                tr
                    TD #{i+1}
                    TD #{row.timestamp}
                    TD #{row.MAC}
                    TD #{row.WIFI}



