extends layout

block content
    h1= title
    p View the data for this day of this event.


    table.table.table-light.table-striped
        thead
            tr
                th #
                th TIMESTAMP
                th MAC
                th WIFI

        tbody
            each row,i in eventsDayEntryRows
                tr
                    TD #{i+1}
                    TD #{row.timestamp}
                    TD #{row.MAC}
                    TD #{row.WIFI}



